/* Color Palette
#05668D Sea Blue
#028090 Metallic Seaweed
#00A896 Persian Green
#02C39A Caribbean Green
#F0F3BD Pale Spring Bud
*/

/* Global styles
-------------------------*/
/* border box fix */
html {
  box-sizing: border-box;
}
*, *.:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
a {
  color: #05668D;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}
.col-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}
.col-wide {
  width: 62%;
  float: left;
  min-height: 175px;
}
/* Header and Footer
-------------------------*/
header, footer {
  background: #02C39A;
  color: #05668D;
}
/* header */
.profile-img {
  border-radius: 50%;
}
header h1, header h2 {
  color: #F0F3BD;
  margin: 0;
}
/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
/* Work Experience
-------------------------*/
.work {
  background: #02C39A;
}

/* Education
-------------------------*/
.education {
  background: #F0F3BD;
}
