/* Color Palette
#05668D Sea Blue
#028090 Metallic Seaweed
#00A896 Persian Green
#02C39A Caribbean Green
#F0F3BD Pale Spring Bud
*/

/* Global styles
-------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2 {
  font-family: 'Caveat', cursive;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
}
a {
  color: #05668D;
}
a:hover {
  text-decoration: none;
}

/* Header and Footer
-------------------------*/
header, footer {
  background: #02C39A;
  color: #05668D;
}
header h1, header h2 {
  color: #F0F3BD;
}

/* Work Experience
-------------------------*/
.work {
  background: #02C39A;
}

/* Education
-------------------------*/
.education {
  background: #F0F3BD;
}
